body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.3em;
}

h1 {
}

form {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 70%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.error {
    color: red !important;
    font-size: 0.8em !important;
    margin: 5px 0 !important;
    border: 1px solid red !important;
}

.success {
    color: green !important;
    font-size: 0.8em !important;
    margin: 5px 0 !important;
    border: 1px solid green !important;
    background-color: greenyellow !important;
}
